main > section {
  background-color: #F6F6F6;

  > p:last-child {
    border-top: 1px solid #DDDDDD;
  }
}

main > section > p > a,
main > section > ol > li > p > a {
  display: block;
  padding: 12px;
  &:before {
    vertical-align: middle;
  }
}

main > h1 {
  padding: 12px 12px 8px;
  text-align: center;
  font-style: italic;
  color: #666666;
}

main > .ps-schedules {
  > ol > li {
    display: block;
  }

  > ol > li > h2 {
    padding: 12px 12px 8px;
    font-style: italic;
    font-weight: bold;
    font-size: 26px;
    color: #222222;
    &:after {
      content: '';
      opacity: 0.75;
      float: right;
      display: inline-block;
      width: 1em;
      height: 1em;
      background-image: url(../images/arrow-down.svg);
      background-size: 100%;
      vertical-align: -5px;
    }
  }
  > ol > li.shown > h2:after {
    background-image: url(../images/arrow-top.svg);
  }

  $HUE_BASE_COLOR: lighten(#F16745, 25%);

  > ol > li {
    @for $i from 1 through 10 {
      &:nth-child(#{10n-$i}) > h2 {
        background-color: adjust-hue($HUE_BASE_COLOR, 50deg * $i);
      }
    }
  }

  > ol > li > ul {
    overflow: hidden;
    position: relative;
    height: 0;
    padding-left: 20px;
    &:before {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      display: block;
      width: 20px;
    }
  }

  > ol > li.shown > ul {
    height: auto;
  }

  > ol > li {
    @for $i from 1 through 10 {
      &:nth-child(#{10n-$i}) > ul:before {
        background-color: adjust-hue($HUE_BASE_COLOR, 50deg * $i);
      }
    }
  }

  > ol > li > ul > li {
    position: relative;;
    padding: 20px 10px;
    > * + * {
      margin-top: 4px;
    }
    &:first-child > .ps-blank {
      display: none;
    }
    > .ps-blank {
      overflow: hidden;
      position: absolute;
      top: -14px;
      left: 50%;
      display: inline-block;
      width: 75%;
      padding: 4px 8px;
      background: #DDDDDD;
      font-style: italic;
      font-size: 12px;
      color: #666666;
      transform: translate(-50%, 0);
      > span {
        vertical-align: -4px;
      }
      > span + span {
        padding-left: 10px;
      }
      > a {
        float: right;
        padding: 6px 6px 2px;
        border-radius: 4px;
        background: #4CC3D9;
        line-height: 1em;
        color: #FFFFFF;
      }
    }
    > h3 {
      font-size: 20px;
    }

    > .ps-time {
      text-align: right;
      font-style: italic;
      font-size: 14px;
      color: #666666;
    }

    > address > a {
      margin-left: 6px;
      vertical-align: 1px;
      font-size: 13px;
      font-style: italic;
      text-decoration: underline;
    }

    > .ps-image {
      text-align: center;
    }

    > .ps-description {
      padding: 4px;
      margin-top: 4px;
      background-color: #FFFFFF;
      word-break: break-word;
      font-family: courier, Arial, sans-serif;
      font-size: 12px;
    }

    + li {
      border-top: 1px solid #DDDDDD;
    }
  }
}
