* {
  width: auto;
  height: auto;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  list-style: none;
  background-color: transparent;
  line-height: 1.25;
  font-size: 100%;
  font-family: 'STHeitiJ-Light', 'STHeitiK-Light','AppleGothic', 'Lato', 'Hiragino Kaku Gothic ProN', 'Hiragino Kaku Gothic ProN', Arial, sans-serif;
  font-weight: inherit;
  font-style: inherit;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  vertical-align: bottom;
  text-decoration: none;
  color: inherit;
  transition: 450ms cubic-bezier(0.42, 0, 0.58, 1); }

body {
  font-style: normal;
  font-weight: normal;
  -webkit-text-size-adjust: 100%; }

main {
  display: block; }

table {
  border-collapse: collapse; }

th {
  text-align: left; }

strong {
  font-weight: bold; }

pre {
  white-space: pre-wrap;
  word-break: break-all; }

body {
  overflow: hidden;
  background-color: #F6F6F6;
  color: #404040; }

body,
body > * {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%; }

a {
  color: #4CC3D9; }

.cs-button {
  padding: 8px 16px;
  border: 1px solid #4CC3D9;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  font-size: 20px;
  box-shadow: 0 0 2px #666666;
  color: #4CC3D9; }

.cs-button.primary {
  background-color: #4CC3D9;
  color: #FFFFFF; }

.cs-prev:before,
.cs-next:after {
  content: '';
  display: inline-block;
  width: 16px;
  height: 16px;
  -webkit-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%; }

.cs-prev:before {
  margin-right: 6px;
  background-image: url(../images/arrow-left.svg); }

.cs-next:after {
  margin-left: 6px;
  background-image: url(../images/arrow-right.svg); }

.cs-prev.white:before {
  background-image: url(../images/arrow-left-white.svg); }

.cs-next.white:after {
  background-image: url(../images/arrow-right-white.svg); }

header {
  z-index: 0;
  padding: 50px 24px;
  background-color: #F6F6F6;
  background-image: url(http://lorempixel.com/360/720/city);
  background-position: center center;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center;
  font-style: italic;
  color: #FFFFFF; }
  header:before {
    content: '';
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5); }
  header > * {
    position: relative; }
  header > h1,
  header > h1 + p {
    text-shadow: 0 0 2px #666666; }
  header > h1 {
    font-size: 34px; }
  header > h1 + p {
    margin-top: 50px;
    font-size: 20px; }
  header > h1 + p + p {
    position: fixed;
    right: 0;
    left: 0;
    text-align: center;
    font-weight: bold; }
    @media screen and (max-height: 400px) {
      header > h1 + p + p {
        bottom: 50px; } }
    @media screen and (min-height: 401px) {
      header > h1 + p + p {
        bottom: 100px; } }

main {
  z-index: 1;
  left: 100%; }
  main.shown {
    left: 0; }

main > section {
  overflow: auto;
  overflow: scroll;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #F6F6F6;
  -webkit-overflow-scrolling: touch; }
  main > section > p:last-child {
    border-top: 1px solid #DDDDDD; }

main > section > p > a,
main > section > ol > li > p > a {
  display: block;
  padding: 8px 12px; }
  main > section > p > a:before,
  main > section > ol > li > p > a:before {
    vertical-align: middle; }

main > .ps-first-page > ol > li:nth-child(6n-5),
main > .ps-second-page > ol > li:nth-child(6n-5) {
  background: #f6a18c; }

main > .ps-first-page > ol > li:nth-child(6n-4),
main > .ps-second-page > ol > li:nth-child(6n-4) {
  background: #ffe1aa; }

main > .ps-first-page > ol > li:nth-child(6n-3),
main > .ps-second-page > ol > li:nth-child(6n-3) {
  background: #b1dfc9; }

main > .ps-first-page > ol > li:nth-child(6n-2),
main > .ps-second-page > ol > li:nth-child(6n-2) {
  background: #8bd8e6; }

main > .ps-first-page > ol > li:nth-child(6n-1),
main > .ps-second-page > ol > li:nth-child(6n-1) {
  background: #b390af; }

main > .ps-first-page > ol > li:nth-child(6n),
main > .ps-second-page > ol > li:nth-child(6n) {
  background: #6aa46c; }

main > .ps-first-page {
  background-color: rgba(0, 0, 0, 0.5); }
  main > .ps-first-page > p {
    background-color: #F6F6F6; }

main > .ps-first-page > ol > li {
  position: relative;
  padding: 8px 12px; }
  main > .ps-first-page > ol > li > a > dl {
    overflow: hidden;
    padding-right: 28px;
    font-style: italic;
    color: #222222; }
    main > .ps-first-page > ol > li > a > dl > dt {
      float: left;
      font-weight: bold;
      font-size: 26px; }
    main > .ps-first-page > ol > li > a > dl > dd {
      float: right;
      margin-top: 8px; }
  main > .ps-first-page > ol > li:after {
    position: absolute;
    top: 50%;
    right: 12px;
    -webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    transform: translate(0, -50%); }

main > .ps-second-page {
  left: 100%; }
  main > .ps-second-page.shown {
    left: 0; }
  main > .ps-second-page > ol > li {
    display: none; }
    main > .ps-second-page > ol > li.shown {
      display: block; }
  main > .ps-second-page > ol > li > h2 {
    padding: 8px 12px;
    text-align: center;
    font-style: italic;
    font-weight: bold;
    font-size: 26px;
    color: #222222; }
  main > .ps-second-page > ol > li > ul,
  main > .ps-second-page > ol > li > p {
    background-color: #F6F6F6; }
  main > .ps-second-page > ol > li > ul > li {
    position: relative;
    padding: 20px 10px; }
    main > .ps-second-page > ol > li > ul > li > * + * {
      margin-top: 4px; }
    main > .ps-second-page > ol > li > ul > li:first-child > .ps-blank {
      display: none; }
    main > .ps-second-page > ol > li > ul > li > .ps-blank {
      overflow: hidden;
      position: absolute;
      top: -12px;
      left: 50%;
      display: inline-block;
      width: 75%;
      padding: 4px 8px;
      background: #DDDDDD;
      font-style: italic;
      font-size: 12px;
      color: #666666;
      transform: translate(-50%, 0);
      -o-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
      -moz-transform: translate(-50%, 0);
      -webkit-transform: translate(-50%, 0); }
      main > .ps-second-page > ol > li > ul > li > .ps-blank > span {
        vertical-align: -2px; }
      main > .ps-second-page > ol > li > ul > li > .ps-blank > span + span {
        padding-left: 10px; }
      main > .ps-second-page > ol > li > ul > li > .ps-blank > a {
        float: right;
        padding: 2px 6px;
        border-radius: 4px;
        background: #4CC3D9;
        line-height: 1em;
        color: #FFFFFF; }
        main > .ps-second-page > ol > li > ul > li > .ps-blank > a.hidden {
          display: none; }
    main > .ps-second-page > ol > li > ul > li > h3 {
      font-size: 20px; }
    main > .ps-second-page > ol > li > ul > li > .ps-time {
      text-align: right;
      font-style: italic;
      font-size: 14px;
      color: #666666; }
    main > .ps-second-page > ol > li > ul > li > .ps-map {
      position: relative;
      background-color: rgba(0, 0, 0, 0.5); }
    main > .ps-second-page > ol > li > ul > li > .ps-map > img {
      width: 100%; }
    main > .ps-second-page > ol > li > ul > li > .ps-map > a {
      position: absolute;
      bottom: 0;
      left: 0;
      display: block;
      padding: 8px;
      background-color: rgba(0, 0, 0, 0.5); }
      main > .ps-second-page > ol > li > ul > li > .ps-map > a:before {
        content: '';
        display: block;
        width: 16px;
        height: 16px;
        background-image: url(../images/window.svg);
        background-size: 100%; }
    main > .ps-second-page > ol > li > ul > li > .ps-description {
      padding: 4px;
      margin-top: 4px;
      background-color: #FFFFFF;
      word-break: break-word;
      font-family: courier, Arial, sans-serif;
      font-size: 12px; }
    main > .ps-second-page > ol > li > ul > li + li {
      border-top: 1px solid #DDDDDD; }

/*# sourceMappingURL=style.css.map */
